--extra-index-url https://download.pytorch.org/whl/cpu
torch
pysqlite3-binary
chromadb==1.1.0
Flask==3.1.2
gunicorn==23.0.0
matplotlib==3.10.6
numpy==2.3.3
openai==1.109.0
openpyxl==3.1.5
pandas==2.3.2
pyarrow==21.0.0
python-dotenv==1.1.1
seaborn==0.13.2
scikit-learn==1.7.2
sentence-transformers==5.1.1
